[submodule "toml-repo"]
	path = toml-repo
	url = https://github.com/geeksville/toml-repo.git
[submodule "autopage-recipes"]
	path = autopage-recipes
	url = https://github.com/geeksville/autopage-recipes.git
[submodule "touchy-pad"]
	path = touchy-pad
	url = https://github.com/geeksville/touchy-pad.git
